<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
    <form method="POST" action="/new">
      <h1><%= title %></h1>
      <label for="author">Author Name:</label>
      <input required type="text" id="author" name="author" /><br />
      <label for="message">Message:</label>
      <input required type="text" id="message" name="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
